<div class="container">
  <div class="col-md-6 text-center">

    <h1 class="my-4"><%= @representative.name %></h1>

    <img src="<%= @representative.photo_url %>" alt="Photo of <%= @representative.name %>" class="img-fluid mb-3">

    <h3>Title: <%= @representative.title %></h3>
    <p>Political Party: <%= @representative.political_party %></p>
    <p>Address: <%= @representative.address %></p>
      
  </div>
</div>