.row.mt-5
  .col-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
    .card.mt-4
      .card-body
        .text-center
          %h3= "{@representative.name} Profile Page"

        %dl.row.mt-4
          %dt.col-sm-4.text-md-right Photo:
          %dd.col-sm-8
            = image_tag(@representative.photo_url, alt: 'Rep Photo not Provided', class: 'img-fluid rounded-circle', style: 'max-width: 100px;')

        %dl.row.mt-4
          %dt.col-sm-4.text-md-right OCD ID:
          %dd.col-sm-8= @representative.ocdid

        %dl.row.mt-4
          %dt.col-sm-4.text-md-right office:
          %dd.col-sm-8= @representative.office

        %dl.row.mt-4
          %dt.col-sm-4.text-md-right Street:
          %dd.col-sm-8= @representative.address_street

        %dl.row.mt-4
          %dt.col-sm-4.text-md-right State:
          %dd.col-sm-8= @representative.address_state

        %dl.row.mt-4
          %dt.col-sm-4.text-md-right Zip:
          %dd.col-sm-8= @representative.address_zip

        %dl.row.mt-4
          %dt.col-sm-4.text-md-right Political Party:
          %dd.col-sm-8= @representative.political_party
