
.row.mt-2
        .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
                %h3.text-center= representative.name Profile Page
        .card-body
                .card-text
                        %dl.row
                        %dt.col-sm-3.text-md-right Photo:
                        %dt.col-sm-9
                                = image_tag(@representative.photo_url, alt: 'Rep Photo')
                        %dl.row
                        %dt.col-sm-3.text-md-right Office:
                        %dt.col-sm-9
                                = @representative.office
                        %dl.row
                        %dt.col-sm-3.text-md-right Street:
                        %dt.col-sm-9
                                = @representative.street
                        %dl.row
                        %dt.col-sm-3.text-md-right State:
                        %dt.col-sm-9
                                = @representative.state
                        %dl.row
                        %dt.col-sm-3.text-md-right Zip:
                        %dt.col-sm-9
                                = @representative.zip
                        %dl.row
                        %dt.col-sm-3.text-md-right Politcal Party:
                        %dt.col-sm-9
                                = @representative.political_party
                        